
.container{

  background-image:url("./bl.png") ;
  height: 100rem;
  background-size: contain;
}
.imgcont{
    border-radius:20px;
 height: 10%;
  margin-left:10% ;
  background-image: url("./love.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
padding-left: 20%;
padding-top: 20%;
padding-bottom: 20px;

}
 .image{

  max-width:100%;
  height:100%;
  
}
